<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <!--DD deployement descriptor-->
  <!-- 3 configure the servet -->
  <servlet>
    <servlet-name>cal</servlet-name>
    <servlet-class>com.calapp.CalServlet</servlet-class>
    <!--it will force tomcat to create object eagerly-->
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>cal</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
</web-app>