 <!-- <button (click)=myenvent($event)>call event</button>
    {{count}}  -->

    <!-- First no: <input [(ngModel)] ='num1' type="number"/><br/>
    Second no: <input [(ngModel)] ='num2' type="number"/><br/>
    <button  (click) = 'addition()'>Calculate</button>
   
	{{num1}} + {{num2}}={{result}} -->

<!-- 
    Email <input type='text'  [(ngModel)]='email'/><br/>
    <button (click)=getEmail()>click me</button> -->
<!--   


  {{email}} -->

  <!-- <input type="text" [value]="title" (keyup.enter)="title=$event.target.value"/>
  <h2>{{title}}</h2> -->

  <input type="text" [(ngModel)]="title"/>
  <h2>{{title}}</h2>